[project]
	description = Automatically exported from code.google.com/p/unifycelerity
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Clinik
[access "refs/for/refs/*"]
	read = group user/Clinik
	push = group user/Clinik
	label-Code-Review = -2..+2 group user/Clinik
	label-Verified = -1..+1 group user/Clinik
	rebase = group user/Clinik
	removeReviewer = group user/Clinik
	submit = group user/Clinik
[access "refs/heads/*"]
	read = group user/Clinik
	create = group user/Clinik
	push = +force group user/Clinik
	pushMerge = group user/Clinik
[access "refs/tags/*"]
	push = +force group user/Clinik
	pushTag = group user/Clinik
	pushSignedTag = group user/Clinik
